# ignore these files
.DS_Store
DukeSharesLunch.xcodeproj/project.xcworkspace/xcuserdata/christheodore.xcuserdatad/UserInterfaceState.xcuserstate
flask/duke-shares-lunch-firebase-adminsdk-dz86v-a563f4f34c.json
database-server.key
flask/*
/flask/*
